/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

mux-player {
  --controls: none;
  display: block;
  @apply border-2 border-red-600 block;
}

mux-player::part(gesture-layer) {
  display: none;
}
mux-player::part() {
  display: block;
}
